__pycache__
./realsense_tsdf/captured_images/*
./pcd_folder_backup
*.bag
*.ply
/pcd_folder_backup/frame-000000.pcd
/pcd_folder_backup/frame-000010.pcd
/pcd_folder_backup/frame-000020.pcd
/pcd_folder_backup/frame-000030.pcd
/pcd_folder_backup/frame-000040.pcd
/pcd_folder_backup/frame-000050.pcd
/pcd_folder_backup/frame-000060.pcd
/pcd_folder_backup/frame-000070.pcd
/pcd_folder_backup/frame-000080.pcd
/pcd_folder_backup/frame-000090.pcd
/pcd_folder_backup/frame-000100.pcd
/pcd_folder_backup/frame-000110.pcd
/pcd_folder_backup/frame-000120.pcd
/pcd_folder_backup/frame-000130.pcd
/pcd_folder_backup/frame-000140.pcd
/pcd_folder_backup/frame-000150.pcd
/pcd_folder_backup/frame-000160.pcd
/pcd_folder_backup/frame-000170.pcd
/pcd_folder_backup/frame-000180.pcd
/pcd_folder_backup/frame-000190.pcd
/pcd_folder_backup/frame-000200.pcd
/pcd_folder_backup/frame-000210.pcd
/pcd_folder_backup/frame-000220.pcd
/pcd_folder_backup/frame-000230.pcd
/pcd_folder_backup/frame-000240.pcd
/pcd_folder_backup/frame-000250.pcd
/pcd_folder_backup/frame-000260.pcd
/pcd_folder_backup/frame-000270.pcd
/pcd_folder_backup/frame-000280.pcd
/pcd_folder_backup/frame-000290.pcd
/pcd_folder_backup/frame-000300.pcd
/pcd_folder_backup/frame-000310.pcd
/pcd_folder_backup/frame-000320.pcd
/pcd_folder_backup/frame-000330.pcd
/pcd_folder_backup/frame-000340.pcd
/pcd_folder_backup/frame-000350.pcd
/pcd_folder_backup/frame-000360.pcd
/pcd_folder_backup/frame-000370.pcd
/pcd_folder_backup/frame-000380.pcd
/pcd_folder_backup/frame-000390.pcd
/pcd_folder_backup/frame-000400.pcd
/pcd_folder_backup/frame-000410.pcd
/pcd_folder_backup/frame-000420.pcd
/pcd_folder_backup/frame-000430.pcd
/pcd_folder_backup/frame-000440.pcd
/pcd_folder_backup/frame-000450.pcd
/pcd_folder_backup/frame-000460.pcd
/pcd_folder_backup/frame-000470.pcd
/pcd_folder_backup/frame-000480.pcd
/pcd_folder_backup/frame-000490.pcd
/pcd_folder_backup/frame-000500.pcd
/pcd_folder_backup/frame-000510.pcd
/pcd_folder_backup/frame-000520.pcd
/pcd_folder_backup/frame-000530.pcd
/pcd_folder_backup/frame-000540.pcd
/pcd_folder_backup/frame-000550.pcd
/pcd_folder_backup/frame-000560.pcd
/pcd_folder_backup/frame-000570.pcd
/pcd_folder_backup/frame-000580.pcd
/pcd_folder_backup/frame-000590.pcd
/pcd_folder_backup/frame-000600.pcd
/pcd_folder_backup/frame-000610.pcd
/pcd_folder_backup/frame-000620.pcd
/pcd_folder_backup/frame-000630.pcd
/pcd_folder_backup/frame-000640.pcd
/pcd_folder_backup/frame-000650.pcd
/pcd_folder_backup/frame-000660.pcd
/pcd_folder_backup/frame-000670.pcd
/pcd_folder_backup/frame-000680.pcd
/pcd_folder_backup/frame-000690.pcd
/pcd_folder_backup/frame-000700.pcd
/pcd_folder_backup/frame-000710.pcd
/pcd_folder_backup/frame-000720.pcd
/pcd_folder_backup/frame-000730.pcd
/pcd_folder_backup/frame-000740.pcd
/pcd_folder_backup/frame-000750.pcd
/pcd_folder_backup/frame-000760.pcd
/pcd_folder_backup/frame-000770.pcd
/pcd_folder_backup/frame-000780.pcd
/pcd_folder_backup/frame-000790.pcd
/pcd_folder_backup/frame-000800.pcd
/pcd_folder_backup/frame-000810.pcd
/pcd_folder_backup/frame-000820.pcd
/pcd_folder_backup/frame-000830.pcd
/pcd_folder_backup/frame-000840.pcd
/pcd_folder_backup/frame-000850.pcd
/pcd_folder_backup/frame-000860.pcd
/pcd_folder_backup/frame-000870.pcd
/pcd_folder_backup/frame-000880.pcd
/pcd_folder_backup/frame-000890.pcd
/pcd_folder_backup/frame-000900.pcd
/pcd_folder_backup/frame-000910.pcd
/pcd_folder_backup/frame-000920.pcd
/pcd_folder_backup/frame-000930.pcd
/pcd_folder_backup/frame-000940.pcd
/pcd_folder_backup/frame-000950.pcd
/pcd_folder_backup/frame-000960.pcd
/pcd_folder_backup/frame-000970.pcd
/pcd_folder_backup/frame-000980.pcd
/pcd_folder_backup/frame-000990.pcd
/realsense_tsdf_tensor/pcds_backup/
/realsense_tsdf_tensor/images_depths_backup/
/realsense_tsdf_tensor/images_depths_muti/
/realsense_tsdf_tensor/pcds_muti/
